body {
  color: #1c1917;
  font-family: Lora, serif;
  margin: 0;
}

#site-container {
  border-radius: 12px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;
  margin: 0 auto;
  margin-top: 6%;
  max-width: 1024px;
  overflow: hidden;
}

#site-container > header {
  background: #d6d3d1;
  font-size: 1.45em;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

#site-container > aside {
  background: #e7e5e4;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  padding: 1em;
}

#site-container > main {
  background: #e7e5e4;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  padding: 1em;
  position: relative;
}

#site-container > footer {
  background: #e7e5e4;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 13;
  padding: 1em;
  text-align: center;
}

#properties {
  background:#d6d3d1;
  border-radius: 12px;
  display: grid;
  font-size: .95em;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  line-height: 26px;
  margin: 0;
  overflow: hidden;
  padding: 1em;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 1em;
  padding: .5em;
  position: absolute;
  right: 1em;
  }

#controls > label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
}

#controls > label input {
  cursor: pointer;
  margin: 0;
}

#controls > button {
  cursor: pointer;
  width: 80px;
}

canvas {
  background:#d6d3d1;
  border-radius: 12px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #site-container {
    grid-template-rows: auto 1fr auto;
  }

  #site-container > aside {
    grid-column-end: 4;
    grid-row-start: 2;
  }

  #site-container > main {
    grid-column-start: 4;
    grid-row-start: 2;
  }

  #site-container > footer {
    grid-row-start: 3;
  }
}